<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/stylesheets/cadastro.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Oxanium" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<title>Lampião cadastro</title>
</head>
<body>
	<header>
		<img class-="logo" src="/img/logoPreta.png">
	</header>
	<main class="cadastro-usuario">
		<div class="container">
			<div class="cadastro-content">
				<form action="/user" method="POST">
					<!---aqui vai o link para acessar a outra sessão após a validação de senha--->
					<div class="logo-form">
						<img class-="logo" src="/img/logoPreta.png">
						<h2 class="title">Cadastre-se</h2>
					</div>			
					<div class="input-div one">
						<div class="i">
							<i class="fas fa-user-circle"></i>
							<!---icone de user--->
						</div>
						<div class="div">
							<input type="text" name="name" class="input" placeholder="Nome" required>
						</div>
					</div>

					<div class="input-div one">
						<div class="i">
							<i class="fas fa-envelope"></i>
							<!--icone de user-->
						</div>
						<div class="div">
							<input type="email" name="email" class="input" placeholder="Email" required>
						</div>
					</div>

					<div class="input-div one">
						<div class="i">
							<i class="fas fa-user-tie"></i>
							<!--icone de user-->
						</div>
						<div class="div">							
							<input type="text" name="nickname"  class="input" placeholder="Nickname"required>
						</div>
					</div>
					<div class="input-div pass">
						<div class="i">
							<i class="fas fa-lock"></i>
							<!--icone de cadeado-->
						</div>
						<div class="div">
							<input type="password" name="password" class="input" placeholder="Senha" required>
						</div>
					</div>
					<br>
					<div class="login">
						<p>Já tem uma conta?</p> 
						<a href="/user/login"><b>Faça Login</b></a>
					</div>
					
					<button type="submit" class="btn" >Cadastre-se</button>
				</form>
			</div>
			<div class="img">
				<img src="/img/imagemCadastro.png">
			</div>
		</div>	
	</main>
	<script type="text/javascript" src="/js/login.js"></script>
</body>
</html>





	