<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/info_livro.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@800&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <title>Lampião</title>
</head>
<body>

    <header class="book-header">
        <div class="logo">
            <img src="/public/img/LogoBranca.png" alt="logo">
        </div>
        <div class="icons">
            <img src="/public/img/image 11.png" alt="busca">
            <img src="/public/img/image 21.png" alt="home">
            <img src="/public/img/icon 1.png" alt="perfil">
        </div>
    </header>

    <main class="main-book">
        <section class="left-side">
            <div>
                <div>
                    <!-- <div class="img-principal" title="capa-do-livro" style="background-image: url('/public/img/image16.png')"> -->
                    <img src="/public/img/image16.png" alt="capa-do-livro" class="img-principal">    
                </div>
                <div>
                    <img src="/public/img/Star 1.png" alt="estrela">
                    <img src="/public/img/Star 1.png" alt="estrela">
                    <img src="/public/img/Star 1.png" alt="estrela">
                    <img src="/public/img/Star 1.png" alt="estrela">
                    <img src="/public/img/Star 1.png" alt="estrela">
                </div>
                <div>
                    <p>400 avaliações</p>
                </div>
            </div>

            <div>
                <div>
                    <p>LERAM</p>
                    <p>156</p>
                </div>
                <div>
                    <p>LENDO</p>
                    <p>79</p>
                </div>
                <div>
                    <p>QUEREM LER</p>
                    <p>31</p>
                </div>
                <div>
                    <p>FAVORITADO</p>
                    <p>58</p>
                </div>
            </div>
        </section>

        <section class="right-side">

            <section>
                <h2>SINOPSE</h2>
                <p>
                    Um texto épico e lírico, realista e mágico que revela, para além de sua trama, um poderoso elemento de insubordinação social. Vencedor do prêmio Leya 2018

                    Nas profundezas do sertão baiano, as irmãs Bibiana e Belonísia encontram uma velha e misteriosa faca na mala guardada sob a cama da avó. Ocorre então um acidente. E para sempre suas vidas estarão ligadas, a ponto de uma precisar ser a voz da outra. Numa trama conduzida com maestria e com uma prosa melodiosa, o romance conta uma história de vida e morte, de combate e redenção. Um texto épico e lírico, realista e mágico que revela, para além de sua trama, um poderoso elemento de insubordinação social.
                </p>
            </section>

            <section>
                <h2>COMENTÁRIOS</h2>
                
                <article>
                    <h3>TÍTULO</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget nunc ac turpis porttitor mollis. Praesent vel diam in tellus volutpat interdum ac eu lorem. Suspendisse vitae neque risus. Donec et lacinia neque, id blandit sapien. Aenean ultrices purus tortor.
                    </p>
                    <p>></p>
                    <div>
                        <img src="/public/img/image 8.png" alt="foto-usuario">
                        <div>
                            <p>Edson</p>
                            <div>
                                <img src="/public/img/Star 2.png" alt="star2">
                                <img src="/public/img/Star 2.png" alt="star2">
                                <img src="/public/img/Star 2.png" alt="star2">
                                <img src="/public/img/Star 2.png" alt="star2">
                                <img src="/public/img/Star 2.png" alt="star2">
                            </div>
                        </div>
                    </div>

                    <div>
                        <button>ADICIONAR LIVRO</button>
                        <img src="/public/img/cacto1 1.png" alt="cacto">
                    </div>

                </article>

            </section>

        </section>
    </main>

    <footer>

    </footer>
   
</body>
</html>