<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/login.css"
    />
    <link rel="preconnect" href="https:/fonts.gstatic.com" />
    <link
      href="https:/fonts.googleapis.com/css2?family=Oxanium"
      rel="stylesheet"
    />
    <script src="https:/kit.fontawesome.com/a81368914c.js"></script>
    <title>Lampião</title>
  </head>
  <body>
    <img class="elipse" src="/img/Elipse.png" />
    <!-- <img class-="logo" src="/img/logoPreta.png"> -->
    <div class="container">
      <!--Imagem que fica abaixo da logo-->
      <div class="img">
        <img src="/img/cenário-login.png" />
      </div>
      <div class="login-content">
        <form>
          <!--aqui vai o link para acessar a outra sessão após a validação de senha-->

          <!-- <h2 class="title">Lampião</h2> -->
          <img class-="logo" src="/img/logoPreta.png" />
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
              <!--icone de user-->
            </div>
            <div class="div">
              <input type="text" class="input" placeholder="Usuário"/>
            </div>
          </div>
          <div class="input-div pass">
            <div class="i">
              <i class="fas fa-lock"></i>
              <!--icone de cadeado-->
            </div>
            <div class="div">
              <input type="password" class="input" placeholder="Senha"/>
            </div>
          </div>
          <div class="cadastre">
            <h2>Primeira vez no Lampião?</h2>
             <a href="/views/cadastro.html">Cadastre-se</a>
          </div>
          
          <!-- <input type="submit" class="btn" value="Entrar" /> -->
          <button type="submit" class="btn">Entrar</button>
        </form>
      </div>
    </div>
    
    <script type="text/javascript" src="/js/login.js"></script>
  </body>
</html>
