<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/stylesheets/perfil.css"
    />
    <title>Lampião</title>
  </head>
  <body>
    <div class="container">
      <header>
        <img src="/public/img/LogoBranca.svg" alt="logo" class="logo-branca">
        <!-- <div class="toggle"></div>  CRIAR     -->
        <div class="icons">
          <div class="icons-img">
            <img
              src="/public/img/search.svg"
              alt="search"
              class="search-icon"
            />
            <img src="/public/img/home.svg" alt="home" class="home-icon" />
            <img
              src="/public/img/profile.svg"
              alt="profile"
              class="profile-icon"
            />
          </div>
        </div>
      </header>
      <video src="/public/video/Site lampião com template.mp4" muted loop autoplay></video>
      <section>
        <div class="status-lidos">
          <h2>Lidos</h2>
          <h2 id="quantity">150</h2>
        </div>
        <div class="status-lendo">
          <h2>Lendo</h2>
          <h2 id="quantity">2</h2>
        </div>
        <div class="status-quero-ler">
          <h2>Quero ler</h2>
          <h2 id="quantity">10</h2>
        </div>
        <div class="status-relendo">
          <h2>Relendo</h2>
          <h2 id="quantity">1</h2>
        </div>
        <div class="status-abandonei">
          <h2>Abandonei</h2>
          <h2 id="quantity">50</h2>
        </div>
        <div class="status-resenhas">
          <h2>Resenhas</h2>
          <h2 id="quantity">34</h2>
        </div>
        <div class="perfil">
          <img src="/public/img/img-perfil.png" alt="imagem do perfil" class="img-perfil"/>
          <p id="name">Name</p>
          <p id="nickname">@nickname</p>
        </div>
      </section>
    </div>
    <main>
      <section class="paginometro">
        <img src="/public/img/menina-paginometro.png" alt="personagem do paginometro" />
            <div class="rectangle">
                <img src="/public/img/Rectangle-pag.png" alt="paginometro" > 
            </div>        
      </section>
      <section class="estante-container">
        <h1 id="title">Minha estante</h1>
        <div class="books-container">
            <h2>Todos</h2>
            <div id="books-carousel">
                <img src="/public/img/livro-01.png" alt="exemplo-01" />
                <img src="/public/img/livro-02.png" alt="exemplo-02" />
                <img src="/public/img/livro-03.png" alt="exemplo-03" />
                <img src="/public/img/livro-04.png" alt="exemplo-03" />
            </div>
        </div>        
        <h2>Lidos</h2>
        <h2>Lendo</h2>

      </section>
    </main>
  </body>
</html>
