<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/stylesheets/timeline.css" />
    <title>Lampião</title>
  </head>

  <body>
    <header>
      <img src="/public/img/logoPreta.png" alt="logo" />
      <video src="/public/video/timelinee.mp4" muted loop autoplay></video>

    </header>
    <main>
      <div class="timeline-container">
        <div class="timeline-banner">
          <img src="/public/img/timeline-banner.png" alt="timeline-banner" />
        </div>
        <strong>Últimos Lançamentos</strong>
        <!-- <button>next</button> -->

        <div class="container-carousel">
          <img src="/public/img/livro-01.png" alt="exemplo-01" />
          <img src="/public/img/livro-02.png" alt="exemplo-02" />
          <img src="/public/img/livro-03.png" alt="exemplo-03" />
          <img src="/public/img/livro-04.png" alt="exemplo-03" />
        </div>

        <strong>Mais procurados</strong>
        <div class="container-carousel">
          <img src="/public/img/livro-01.png" alt="exemplo-01" />
          <img src="/public/img/livro-02.png" alt="exemplo-02" />
          <img src="/public/img/livro-03.png" alt="exemplo-03" />
          <img src="/public/img/livro-04.png" alt="exemplo-03" />
        </div>
        <strong>Queridinhos da galera</strong>
        <div class="container-carousel">
          <img src="/public/img/livro-01.png" alt="exemplo-01" />
          <img src="/public/img/livro-02.png" alt="exemplo-02" />
          <img src="/public/img/livro-03.png" alt="exemplo-03" />
          <img src="/public/img/livro-04.png" alt="exemplo-03" />
        </div>
      </div>
    </main>
  </body>
</html>
