<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/timeline.css" />
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https:/kit.fontawesome.com/a81368914c.js"></script>
  <title>Lampião</title>
</head>

<body>
  <header>
    <a href="http://localhost:3000/timeline">
      <img src="/img/logoPreta.png" alt="logo" />
    </a>
    <div class="icons">

    <div class="wrapper">
      <div class="search-input"> 
          <input type="text" placeholder="Buscar...">

        <div class="autocom-box">  
          <li>Aqui vai o banco de dados </li>
        </div>
        <!--icone-busca = icon -->
        <div class="icone-busca"><i class="fas fa-search"></i></div>
      </div>
    </div>





      <div class="icons-img">
        <!-- <img src="/img/home.svg" alt="home" class="home-icon"> -->
          <a href="http://localhost:3000/user/perfil">
          <img src="/img/profile.svg" alt="profile" class="profile-icon">
        </a>
      </div>
  </header>
  <main>
    <div class="timeline-container">
      <div class="timeline-banner">
        <video src="/video/timelinee.mp4" muted loop autoplay></video>
      </div>

      <strong>Últimos Lançamentos</strong>

      <div class="container-carousel">
        <div><img src="/img/livro-01.png" alt="exemplo-01" /></div>
        <div><img src="/img/livro-02.png" alt="exemplo-02" />
        </div>
        <div><img src="/img/livro-03.png" alt="exemplo-03" /></div>
        <div><img src="/img/livro-04.png" alt="exemplo-03" /></div>
        <div><img src="/img/livro-01.png" alt="exemplo-01" /></div>
        <div><img src="/img/livro-02.png" alt="exemplo-02" />
        </div>
        <div><img src="/img/livro-03.png" alt="exemplo-03" /></div>
        <div><img src="/img/livro-04.png" alt="exemplo-03" /></div>

      </div>

      <strong>Mais procurados</strong>
      <div class="container-carousel">
        <div><img src="/img/livro-01.png" alt="exemplo-01" /></div>
        <div><img src="/img/livro-02.png" alt="exemplo-02" />
        </div>
        <div><img src="/img/livro-03.png" alt="exemplo-03" /></div>
        <div><img src="/img/livro-04.png" alt="exemplo-03" /></div>
        <div><img src="/img/livro-01.png" alt="exemplo-01" /></div>
        <div><img src="/img/livro-02.png" alt="exemplo-02" />
        </div>
        <div><img src="/img/livro-03.png" alt="exemplo-03" /></div>
        <div><img src="/img/livro-04.png" alt="exemplo-03" /></div>
      </div>
      <strong>Queridinhos da galera</strong>
      <div class="container-carousel">
        <div><img src="/img/livro-01.png" alt="exemplo-01" /></div>
        <div><img src="/img/livro-02.png" alt="exemplo-02" />
        </div>
        <div><img src="/img/livro-03.png" alt="exemplo-03" /></div>
        <div><img src="/img/livro-04.png" alt="exemplo-03" /></div>
        <div><img src="/img/livro-01.png" alt="exemplo-01" /></div>
        <div><img src="/img/livro-02.png" alt="exemplo-02" />
        </div>
        <div><img src="/img/livro-03.png" alt="exemplo-03" /></div>
        <div><img src="/img/livro-04.png" alt="exemplo-03" /></div>
      </div>
      <div class="frase">
        <h5>Não encontrou o livro que gostaria? Não deixe sua estante esperando e cadastre-o agora mesmo!</h5>
      </div>
      <!-- BOTÃO REFERENTE AO MODAL PARA CADASTRAR NOVO LIVRO -->
      <button class=cadastrar-book id="btnOpen">Cadastrar livro</button>
    </div>
  </main>

  <div class="modal">
    <div class="modal-criar-book">
      <div class="modal-header">
        <h3>Cadastre um livro</h3>
        <button class="close" onclick="btnClose()">X</button>
      </div>
      <div class="modal-body">
        <form action="/books" method="POST" id="form-create-book">
          <input type="text" name="name" id="input-name" placeholder="Nome do livro">
          <input type="text" name="isbn" id="input-isbn" placeholder="Isbn">
          <input type="text" name="publishing_company" id="input-pc" placeholder="Editora">
          <input type="text" name="writer" id="input-writer" placeholder="Nome do escritor(a)">
          <input type="text" name="genre" id="input-genre" placeholder="Gênero">
          <input type="text" name="n_pages" id="input-pages" placeholder="Número de páginas">
          <input type="text" name="year_publication" id="input-year" placeholder="Ano de publicação">
          <input type="text" name="img" id="input-img" placeholder="Link para imagem de capa">
          <input type="text" name="sinopse" id="input-sinopse" placeholder="sinopse">
          <button class="btn-criar" type="submit" id="btn-submit-book" onclick="form_submit()">Criar</button>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="slick/slick.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <script type="text/javascript" src="/js/timeline.js"></script>

</body>

</html>