*{
	box-sizing: border-box;
}

body {
    background-color: #FAF9F5;
    font-family: 'Oxanium', sans-serif;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    /* background: turquoise; */
}

.book-header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    height:50px;
    max-height: 100%;
    /* background: tomato; */
}

.logo {
    background: rgba(34, 75, 9, 0.71);
    width: 100%;
    padding-top: 20px;
    height:100%;
}

.logo img{
    position: relative;
    bottom: 8px;
    left: 50px;
    height: auto;
    width: auto;
    max-width: 50%;
    /* background: turquoise; */
}

.logo .logo-preta {
    display: none;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height:100%;
}

.icons .icons-img{
    position: relative;
    top: 2px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 150px;
    margin-right: 20px;
    max-width: 100%;
    height: auto;
}

.container{
    height: auto;
    max-height: 100%;
    display: flex;
    width: auto;
    max-width: 100%;
}

.container .main-book {
    display: flex;
    justify-content: space-around;
    width: auto;
    max-width: 100%;
    /* background-color: darkorange; */
}

.main-book .left-side .book-title {
    position: relative;
    margin-left: 40px;
    color: white;
    font-size: 25px;
    /* background: cadetblue; */
}
.main-book .left-side .book-title h3{
    font-weight: lighter;
}

.main-book .left-side .book-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main-book .left-side .book-view  .book-cape{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    width: 200px;
    height:300px;
}

.left-side .book-view .img-principal{
    filter: drop-shadow(10px 4px 4px rgba(0, 0, 0, 0.25));
    max-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.main-book .stars {
    filter: drop-shadow(10px 4px 4px rgba(0, 0, 0, 0.25));
    padding-top: 5px;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    color: #ffffff;
    font-weight: bolder;
    /* background: violet; */
}

.main-book .stars img {
    margin-left: 5px;
    width: 20px;
}

.main-book .rating {
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-weight: 800;
    color: white;
    margin-top: 2px;
    margin-bottom: 50px;
    /* background: darkorchid; */
}

.main-book .left-side .info-status {
    display: flex;
    justify-content: space-around;
    padding: 0 40px;
    font-size: 18px;
    margin-bottom: 50px;
    color: white;
}

.main-book .left-side .info-status h4 {
    font-style: normal;
    font-weight: normal;
}

.main-book .left-side .info-status p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.main-book .left-side .book-info {
    /* background: blue; */
    display: flex;
    justify-content:center;
    align-items: center;
    background: rgba(140, 76, 14, 0.1);
    box-shadow: inset 3px 3px 4px -4px #506D3E;
    max-width: auto;
    max-height: auto;
    /* height: 100%; */
    color: white;

}

.main-book .left-side .book-info .book-info-h {
    display: flex;
    flex-direction: column;
    /* padding: -20px; */
}
.main-book .left-side .book-info .book-info-h h4,
.main-book .left-side .book-info .book-info-p p{
    margin: 5px;
}

.main-book .left-side .book-info .book-info-p {
    /* padding: -20px; */
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-book .container{
    width: 100% ;
    height: 100%;
    display: flex;
    justify-content: space-between;

    /* background-color: darkviolet; */
}
.main-book .left-side {
    background: rgba(34, 75, 9, 0.71);
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    /* height: auto;*/
    width: 100%; 
    /* width: 50%;  */
    height: auto;
    max-width: 50%;
    max-height: 100%;
}


.main-book .right-side {
    /* width: 50%;
    height: 100%; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 50%;
    max-height: 100%;
    color: #2f491f;
    /* background-color: fuchsia; */
}

.main-book .right-side .synopsis {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-book .right-side .synopsis h2 {
    padding-left: 40px;
    display: flex;
    align-items: center;
    margin-bottom: -15px;
}

.main-book .right-side .synopsis p {
    padding: 20px 40px;
    text-align: justify;
    width: 100%;
}

.main-book .right-side .synopsis .add-sinopse {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-book .right-side .synopsis .add-sinopse button{
    height: fit-content;
    padding: 5px;
    font-family: 'Oxanium', sans-serif;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #4F6C3C;
    background: rgba(80, 109, 62, 0.06);
    border: 2px solid #506D3E;
    box-sizing: border-box;
    border-radius: 8px;
}

.main-book .right-side .comments {
    /* background:crimson; */
    max-width: 100%;
    /* max-width: 50%; */
    height: auto;
    /* display: flex;
    flex-direction: column; */
    
}

.main-book .right-side .comments h2 {
    /* background: cyan; */
    padding-left: 40px;
    display: flex;
    align-items: center;
    margin-bottom: -20px;
}

.main-book .right-side .comments .container-carousel {
    background: rgba(140, 76, 14, 0.1);
    box-shadow: inset 3px 3px 4px -4px #506D3E;
    margin: 40px;
    max-width: 100%;
    max-height: auto;
}

.div-carousel-title{
    /* padding: 10px; */
    padding: 0 10px;
    margin-bottom: -35px;
    /* background-color: cyan; */
}

.div-carousel .div-post{
    /* background-color: fuchsia; */
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.div-comments{
    padding: 10px;
}

.div-comments .comments-text {
    text-align: justify;
    /* background-color: crimson; */
    padding: 0 10px;
    margin-bottom: -5px;
}

.comment-user{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    height: auto;
    padding: 10px 20px;
}

.comment-user .user-photo {
    display: flex;
    align-self: center;
    margin-right: 15px;
}

.comment-user .user-photo img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.comment-user .user-comments-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment-user .user-comments-info p {
    font-size: 13px;
    color: #506D3E; 
}

.stars-mini {
    display: flex;
    flex-direction: row;
}

.stars-mini img{
    margin-right: 5px;
}

  .slick-prev:before {
    color: #506D3E !important;
    font-size: 20px !important;
  }
  .slick-next:before {
    color: #506D3E !important;
    font-size: 20px !important; 
  }

.right-side .add-book {
    /* background: violet; */
    display: flex;
    justify-content: flex-end;
}

.right-side .add-book button {
    margin: 100px 50px 0 0;
    height: fit-content;
    padding: 5px;
    font-family: 'Oxanium', sans-serif;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #4F6C3C;
    background: rgba(80, 109, 62, 0.06);
    border: 2px solid #506D3E;
    box-sizing: border-box;
    border-radius: 8px;
}



 @media screen and (max-width: 960px) {
     
    .main-book .left-side .info-status {
        display: flex;
        flex-direction: column; 
        justify-content: space-around;
        align-items: center;
        padding: 0px 0 15px 0;
    }

    .main-book .left-side .info-status .div-info-status h4{
        margin-bottom: 5px;
    }
    .main-book .left-side .info-status .div-info-status p {
        margin: 5px;
    }

    .logo .logo-preta {
        display:block;
        position: relative;
        bottom: 8px;
        left: 10px;
        height: auto;
        width: auto;
        max-width: 50%;
    }

    .logo {
        background: none;
    }

    .icons .icons-img {
        margin-right: 0;
    }

    .logo-branca {
        display: none;
    }

    .main-book .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        max-width: 100%;
        margin: 20px;
    }

    .main-book .left-side {
        width: 100%;
        max-width: 100%;    
    }

    .main-book .container .right-side {
        width: 100%;
        max-width: 100%;
        margin-top: 40px;
    }

    .synopsis p {
        padding: 20px 40px 40px;
    }

    .right-side .add-book img { 
        display: none;
    }

    .right-side .add-book { 
        display: flex;
        justify-content: center;
    }

    .right-side .add-book button {
        margin: 0;
    }
  
}

/* .modal-add-notebook */

.modal {
    display:none;
    /* display: flex; */
    position: fixed;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #faf9f5e1;
    z-index:1;
    justify-content: center;
    align-items: center;    
  }  
  .modal .modal-add-notebook{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 800px;
    height: auto;        
    border-radius: 10px 10px 10px 10px;
    background-color: #352e88d2;
    min-width: 400px;
    max-width: 700px;
    padding: 25px;
}  
  .modal .modal-header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size: 30px;
    font-weight:lighter;
    /* background-color: blueviolet; */
  } 
  .nota,
  .status{
      font-size: 20px;
     
  }  
  h1{
      font-size: 30px;
      font-weight: lighter;
  }
  .modal-body p{
    width: 600px;
    /* border: 1px inset white; */
    padding: 8px;
    /* border-radius: 5px; */
    border-bottom: 1px solid;
    border-bottom-width: thin;
    color: white;
    font-weight: 500;
  }
  input {
    margin: 5px 0;
    width: 20px;
    height: 20px;
  }  
  .modal-body {
    flex-direction: column;
    border-radius: 5px;
    /* background-color: rgba(233, 202, 247, 0.116); */
    /* width: auto; */
    /* height: auto; */
    display: flex;    
    align-items: flex-start;
    justify-content: center;
    
  } 
  button {  
    border-radius: 5px;
    padding: 10px;
    font-size: 25px;
    color: #352e88d2;
    border: none;
    width: 200px;
  }  
  .close-book {
    color: #352e88d2;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #FAF9F5;
    border-style: solid;
    border-color: #352e88d2;
    float: right;
    position: relative;
    top: -100px;
    left: 180px;
    cursor: pointer;
  }  
  button.btn-adicionar {
    margin-top: 10px;
    font-size: 25px;
    width: 200px;
    margin-left: 195px;
    color: #352e88d2;
  }
  .modal-add-notebook .modal-body {
      padding: 20px;
  }


  /* MODAL SINOPSE */
  .modal-synopsis {
    display:none;
    /* display: flex; */
    position: fixed;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.753);
    z-index:1;
    justify-content: center;
    align-items: center;    
  }  
  .modal-header h1{
    margin-bottom: 0;
  }
  .synopsis-title form{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #352e88d2
  }

  .modal-synopsis .modal-add-synopsis{
    /* background-color: #362E88; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    width: 800px;
    height: auto;
    border-radius: 10px;
    background-color: #352e88d2;
    min-width: 400px;
    max-width: 700px;
    padding: 25px;
    font-size: 25px;
}
.modal-synopsis textarea {
    background-color: rgba(255, 255, 255, 0.233);
    width: 600px;
    color: white;
    font-size: 20px;
    height: 100px;
    margin-bottom: 10px;
}
.close{
    color: #352e88d2;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #FAF9F5;
    border-style: solid;
    border-color: #352e88d2;
    float: right;
    position: relative;
    top: -150px;
    left: 210px;
    cursor: pointer;
  }  

/* MODAL POST */
  .modal-post {
    display:none;
    display: flex;
    position: fixed;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.753);
    z-index:1;
    justify-content: center;
    align-items: center;    
  }  
  .modal-header h1{
    margin-bottom: 0;
  }
  .post-title form{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #352e88d2
  }

  .modal-post .modal-add-posts{
    /* background-color: #362E88; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    width: 800px;
    height: auto;
    border-radius: 10px;
    background-color: #352e88d2;
    min-width: 400px;
    max-width: 700px;
    padding: 25px;
    font-size: 25px;
}
.modal-post textarea {
    background-color: rgba(255, 255, 255, 0.233);
    width: 600px;
    color: white;
    font-size: 20px;
    height: 100px;
    margin-bottom: 10px;
}
.close{
    color: #352e88d2;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #FAF9F5;
    border-style: solid;
    border-color: #352e88d2;
    float: right;
    position: relative;
    top: -150px;
    left: 210px;
    cursor: pointer;
  }  
