@import url(https://fonts.googleapis.com/css2?family=Oxanium);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #FAF9F5; */
}
body {
  padding: 0;
  margin: 0;
}
.container{
  width: 100%;
  max-width: 100%; /*influencia na responsividade*/
  margin: 0 auto;
}
header .container{
  position: absolute;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}
header .logo-branca {
  padding: 10px;
}
header .icons {  
  display: flex;
  align-items: flex-end;
  height: 100%;
  max-width: 100%;
}
.icons .icons-img {
  display: flex;
  margin-right: 10px;

}
video {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
}
.status-geral{
  /* background-color: lawngreen; */
  position: absolute;
  margin-top: -300px;
  margin-left: 450px;
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  max-width: 100%;
  max-height: 100%;
}
section .status-lidos,
.status-lendo,
.status-quero-ler,
.status-favoritos {
  width: 120px;
  height: 82.27px;
  display: grid;
  background: #5b559d7e;
  border: 1px solid #b3dae2;
}
section h2 {
  display: flex;
  justify-content: center;
  color: #fff;
}
section #quantity{
  color: #5B559D;
  font-size: 35px;
  background-color: #fff;
}
section .perfil{
  /* position: relative; */
  position: absolute;
  margin-top: -160px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

  width: 25%;
}
section .perfil img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background: #e5e5e5;
  border: 3px solid #faf9f5;
}

section .perfil #name {
  /* position: absolute; */
  /* width: 221px;
  height: 24px;
  left: 105px;
  top: 390px; */

  font-family: "Oxanium";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-align: center;

  color: #8c4911;
}
section .perfil #nickname {
  /* position: absolute; */
  /* width: 221px;
  height: 24px;
  left: 110px;
  top: 440px; */

  font-family: "Oxanium";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  text-align: center;

  color: #8c4911;
}

.main-perfil {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  /* background-color: aqua; */
}
.main-perfil .paginometro {
  background: rgb(220, 179, 233); 
  /* /* display: flex;
  flex-direction: column;
  padding-top: 40px;
  height: auto;
  width: 35%;
  max-width: 50%;
  max-height: 100%; */
}
.paginometro img {
  position: absolute;
  width: 420px;
  height: 448px;
  left: 0;
  top: 550px;
}
.paginometro .rectangle img {
  position: absolute;
  width: 215px;
  height: 125px;
  left: 200px;
  top: 595px;

  background: rgba(249, 168, 38, 0.65);
  border: 3px solid #faf9f5;
  box-sizing: border-box;
  border-radius: 5px;
}
.paginometro h3 {    
position: absolute;
width: 157.5px;
height: 18.14px;
left: 220px;
top: 615px;
z-index: 10;

font-family: Oxanium;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 27px;

color: #302D2D;
}
.paginometro h4 {
    position: absolute;
width: 157.5px;
height: 18.14px;
left: 260px;
top: 660px;
z-index: 10;

font-family: Oxanium;
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 27px;

color: #302D2D;
}

.container-carousel {
  border-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  background-color: darkblue;
}
.container-carousel img {    
  padding: 10px;
  width: 150px;
  height:200px;
  /* max-width: 150px; */
  /* max-width: 100%; */
  /* background-color: gray; */
}
.slick-prev:before {
  color: #506D3E !important;
  font-size: 40px !important;
}
.slick-next:before {
  color: #506D3E !important;
  font-size: 40px !important; 
}
.main-perfil .estante-container {
  width: 65%;
  height: 100%;
  max-width: 100%;
  /* background-color: rgb(241, 181, 221); */
}
.estante-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-content: center;
  padding: 20px;
  color: #8c4911;
}
.estante-container h1 {
  margin-right: 40%;
  margin-bottom: 40px;
  font-family: Oxanium;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 42px;

  letter-spacing: 0.06em;

  color: #8c4911;
}
.estante-container img {
  padding: 20px;
  /* max-width: 150px;
  max-height: auto; */
  /* margin-right: 10px; */
}

.estante-container h2 {
  font-family: Oxanium;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 42px;
  /* or 156% */

  letter-spacing: 0.06em;

  color: #8c4911;

  justify-content: flex-start;
  margin-right: 50%;
  border-bottom-style: groove;
  width: 400px;
}

/*
modal config para edição de usuarios
*/

.modal {
  /* display:none; */
  display: flex;
  position: fixed;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(34, 65, 38, 0.8);
  z-index:1;
  justify-content: center;
  align-items: center;
}

.modal-body {

  width: auto;
  height: auto;
  /* margin: 10px; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-body form {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  font-size: 30px;
  width: 100%;
  
}

.modal .modal-editar-user {
  
  width: 700px;
  height: auto;
  padding: 20px;
  border-radius: 30px;
  
}

.modal .modal-header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 10px;
}

input[type=text] {
  width: 100%;
  padding: 10px 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 20px;
}

input[type=password] {
  width: 100%;
  padding: 10px 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 20px;
}



button {
  
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
}

.close {
  border: none;
  font-size: 30px;
  color: #8c4c0e;
}

.btn-criar {
 
  font-size: 25px;
  width: 25%;
}