@import url(https://fonts.googleapis.com/css2?family=Oxanium);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium", sans-serif;
  font-weight: lighter;
}
body {
  padding: 0;
  margin: 0;
}
.container{
  width: 100%;
  max-width: 100%; /*influencia na responsividade*/
  margin: 0 auto;
}
header .container{
  position: absolute;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}
header .logo-branca {
  padding: 10px;
}
header .icons {  
  display: flex;
  align-items: flex-end;
  height: 100%;
  max-width: 100%;
}
.icons .icons-img {
  display: flex;
  margin-right: 20px;
  padding: 10px;
  flex-direction: row;
  align-items: center;
}
.icons-img .editar-user:hover{
  cursor: pointer;
}
video {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
}
.status-geral{
  /* background-color: lawngreen; */
  position: absolute;
  margin-top: -300px;
  margin-left: 450px;
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  max-width: 100%;
  max-height: 100%;
}
section .status-lidos,
.status-lendo,
.status-quero-ler,
.status-favoritos {
  width: 120px;
  height: 82.27px;
  display: grid;
  background: #5b559d7e;
  border: 1px solid #b3dae2;
}
section h2 {
  display: flex;
  justify-content: center;
  color: #fff;
}
section #quantity{
  color: #5B559D;
  font-size: 35px;
  background-color: #fff;
}
section .perfil{
  /* position: relative; */
  position: absolute;
  margin-top: -160px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

  width: 25%;
}
section .perfil img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background: #e5e5e5;
  border: 3px solid #faf9f5;
}

section .perfil #name {
  /* position: absolute; */
  /* width: 221px;
  height: 24px;
  left: 105px;
  top: 390px; */

  font-family: "Oxanium";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-align: center;

  color: #8c4911;
}
section .perfil #nickname {
  /* position: absolute; */
  /* width: 221px;
  height: 24px;
  left: 110px;
  top: 440px; */

  font-family: "Oxanium";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  text-align: center;

  color: #8c4911;
}

.main-perfil {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  /* background-color: aqua; */
}
.paginometro img {
  position: absolute;
  width: 420px;
  height: 448px;
  left: 0;
  top: 550px;
}
.paginometro .rectangle img {
  position: absolute;
  width: 215px;
  height: 125px;
  left: 200px;
  top: 595px;

  background: rgba(249, 168, 38, 0.65);
  border: 3px solid #faf9f5;
  box-sizing: border-box;
  border-radius: 5px;
}
.paginometro h3 {    
position: absolute;
width: 157.5px;
height: 18.14px;
left: 220px;
top: 615px;
z-index: 10;

font-family: Oxanium;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 27px;

color: #302D2D;
}
.paginometro h4 {
    position: absolute;
width: 157.5px;
height: 18.14px;
left: 260px;
top: 660px;
z-index: 10;

font-family: Oxanium;
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 27px;

color: #302D2D;
}

.favoritos{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-carousel {
  width: 90%;
  /* margin: 0 auto; */
}
.container-carousel img {    
  padding: 10px;
  width: 90%;
}
.container-carousel img:hover {    
  border: 2px solid #453e9762;
  width: 95%;
}
.slick-prev:before {
  color: #506D3E !important;
  font-size: 30px !important;
}
.slick-next:before {
  color: #506D3E !important;
  font-size: 30px !important; 
}
.main-perfil .estante-container {
  width: 65%;
  height: 100%;
  max-width: 100%;
}
.estante-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-content: center;
  padding: 20px;
  color: #8c4911;
}
.estante-container h1 {
  margin-right: 40%;
  margin-bottom: 40px;
  font-family: Oxanium;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 42px;

  letter-spacing: 0.06em;

  color: #8c4911;
}
.estante-container img {
  padding: 20px;
}

.estante-container h2 {
  font-family: Oxanium;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  /* or 156% */

  letter-spacing: 0.06em;

  color: #8c4911;

  justify-content: flex-start;
  margin-right: 50%;
  border-bottom-style: groove;
  width: 400px;
  
  margin-bottom: 15px;
}

/*
modal config para edição de usuarios
*/

.modal {
  display:none;
  /* display: flex; */
  position: fixed;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: #faf9f5e1;
  z-index:577;
  justify-content: center;
  align-items: center;
}
.modal-body form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  font-size: 30px;
  width: 100%;    
}
.modal .modal-header h3 {
  margin-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 42px;
  /* or 86% */

  letter-spacing: 0.06em;

  color: white;
}
.modal .modal-editar-user {
  width: 700px;
  height: auto;
  padding: 20px;
  border-radius: 30px;
  background-color: #352e88d2;  
}
.modal .modal-header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 10px;
}
input[type=text] {
  width: 100%;
  padding: 10px 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.747);
  color: #352e88b7;
}
input[type=password] {
  width: 100%;
  padding: 10px 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.747);
  color: #352e88b7;
}
button {
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  font-size: 20px;
  color: #352e88d2;
  border: none;
}
.close {
  color: #352e88d2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #FAF9F5;
  border-style: solid;
  border-color: #352e88d2;
  float: right;
  position: relative;
  top: -55px;
  left: 50px;
  cursor: pointer;
}
.btn-editar { 
  font-size: 25px;
  width: 25%;
  border: none;
}
