@import url(https://fonts.googleapis.com/css2?family=Oxanium);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oxanium", sans-serif;
  /* background-color: #faf9f5; */
  background-color: white;
}

header {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
}

header img {
  width: fit-content;
}
.icons {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height:100%;
}

.icons .icons-img{
  position: relative;
  top: 2px;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 150px;
  max-width: 100%;
  height: auto;
}

.timeline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-content: center;
  padding: 20px;
}

.timeline-banner video {
  width: 1088px;
  height: 572.73px;
  left: 194px;
  top: 72px;
  display: flex;
  align-content: center;
  padding: 20px;
}

/* Carrossel */
/* .container-carousel {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.container-carousel img {
  display: flex;
  justify-content: center;
  padding: 30px;
  align-content: space-between;
  align-items: center;
  margin-right: 35px; 
} */

.container-carousel {
  width: 1000px;
  margin: 0 auto;
}
.container-carousel img {
  padding: 20px;  
  width: 100%;
}

.slick-prev:before {
  color: #506D3E !important;
  font-size: 20px !important;
}
.slick-next:before {
  color: #506D3E !important;
  font-size: 20px !important; 
}

strong {
  margin-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 42px;
  /* or 86% */

  letter-spacing: 0.06em;

  color: #8c4c0e;
}

/* modal */
.modal {
  display:none;
  /* display: flex; */
  position: fixed;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(34, 65, 38, 0.8);
  z-index:1;
  justify-content: center;
  align-items: center;
}

.modal .modal-criar-book {
  
  width: 700px;
  height: auto;
  padding: 20px;
  border-radius: 30px;
  
}

.modal .modal-header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 10px;
}

input[type=text] {
  width: 100%;
  padding: 10px 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 20px;
}

.modal-body {

  width: auto;
  height: auto;
  /* margin: 10px; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-body form {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  font-size: 30px;
  width: 100%;
  
}

button {
  
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
}

.close {
  border: none;
  font-size: 30px;
  color: #8c4c0e;
}

.btn-criar {
 
  font-size: 25px;
  width: 25%;
}