@import url(https://fonts.googleapis.com/css2?family=Oxanium);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oxanium", sans-serif;
  /* background-color: #faf9f5; */
  background-color: white;
}

header {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
}

header img {
  width: fit-content;
}

.timeline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-content: center;
  padding: 20px;
  overflow: scroll;
}

.timeline-banner img {
  width: 1088px;
  height: 572.73px;
  left: 194px;
  top: 72px;
  display: flex;
  align-content: center;
  padding: 20px;
}

/* Carrossel */
.container-carousel {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.container-carousel img {
  display: flex;
  justify-content: center;
  padding: 30px;
  align-content: space-between;
  align-items: center;
  margin-right: 35px;
}

strong .strong {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

strong {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 42px;
  /* or 86% */

  letter-spacing: 0.06em;

  color: #8c4c0e;
}
